@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.footer-section{
    background: linear-gradient(to top, #051323, #c5def8);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 1)), url('../../assets/aston-cover5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: aliceblue;
    font-family: "Outfit", sans-serif;
}

.footer-ul-container{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    text-decoration: none;
    padding: 90px 20px;
}

.footer-ul-container ul{
    list-style: none;
}

.footer-ul-container ul .list-heading{
    font-size: 23px;
    margin: 15% 0;
    letter-spacing: 1.5px;
}

.footer-ul-container ul .list-item{
    margin-bottom: 11%;
    font-size: 15px;
    font-family: "Comfortaa", sans-serif;
    color: rgb(213, 210, 210);
    font-weight: 800;
    transition: 0.3s ease;
    cursor: pointer;
}

.footer-ul-container .list-item:hover{
    color: rgb(255, 255, 255);
    font-weight: 900;
    /* font-size: 15.4px; */
    transform: translateY(-2px);
}

.list-item-container{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-media-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.logo{
    width: 230px;
    transition: 0.5s ease;
}
.logo:hover{
    transform: skew(30deg, 5deg);
}

.media-container{
    font-size: 35px;
    display: flex;
    gap: 15px;
    color: #e3dcdc;
    margin-bottom: 5px;
}

.media-container span{
    transition: 0.3s ease;
    cursor: pointer;
}

.media-container span:hover{
    color: #c9fde7;
    transform: scale(1.05);
}

.logo-media-container p{
    color: #c9fde7;
}