nav {
    margin: 0;
    width: 100%;
    height: 12vh;
    color: #f8f5f5;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: 1.5s ease;
    backdrop-filter: blur(5px);
    font-family: "Montserrat", sans-serif;
  }
  
  nav .logo {
    width: 170px;
    margin-right: 20px;
    transition: 0.5s ease;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
  }
  
  nav ul li {
    list-style: none;
    margin: 5px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease;
    letter-spacing: 1.5px;
  }
  
  nav ul li:hover {
    transform: translateY(-3.5px);
    /* color:  */
    font-weight: 800;
  }
  
  nav .logo:hover {
    transform: skew(30deg, 5deg);
  }
  
  .contact-btn-container {
    /* margin-right: 20px;  */
  }
  
  .dark-nav {
    backdrop-filter: blur(40px);
    transition: 1s ease;
  }
  
  .containerr {
    padding: 0 6%;
  }
  
  .contact-btn {
    background-color: #dbdbd5;
    color: #2f2d2d;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 100px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    margin: 0 1%;
  }
  
  .contact-btn:hover {
    font-weight: 700;
    animation: btn-effect 2.7s ease infinite;
  }
  
  @keyframes btn-effect {
    0% {
      filter: drop-shadow(0px 0px 7px rgb(127, 130, 131));
    }    
    50% {
      filter: drop-shadow(0px 0px 20px rgb(161, 164, 164));
    }    
    100% {
      filter: drop-shadow(0px 0px 7px rgb(127, 130, 131));
    }    
  }
  
  .btn.dark-btn {
    background-color: #212ea0;
    color: #fff;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media (max-width: 1000px) {
    .containerr {
      padding: 0 0.5%;
    }
  
    .contact-btn {
      padding: 15px 25px;
    }
    
    nav .logo {
      width: 130px;
    }
    
    nav ul {
      position: fixed;
      top: 0;
      bottom: -700px;
      right: 0;
      width: 220px;
      background: #055961e3;
      backdrop-filter: blur(10px);
      z-index: -1;
      padding-top: 70px;
      transition: 0.4s ease;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      text-align: left;
    }
  
    nav ul li {
      display: block;
      text-align: left;
      margin: 7% 0;
      margin-left: 25%;
    }
  
    .contact-btn.active nav ul li {
      color: red !important;
    }
  
    .contact-btn-container {
      margin-right: 0;
      right: 7%;
      position: absolute;
    }
  
    .menu-icon {
      display: inline;
      cursor: pointer;
      width: 30px;
    }
  
    .hide-mobile-menu {
      right: -220px;
    }
  }
  